@import "_reset.scss";
@import "_setting.scss";
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400&family=Kanit:wght@300;400&family=Noto+Sans+TC:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
// Swiper styles
@import "swiper/css";
@import "swiper/swiper-bundle.css";

@font-face {
    font-family: "DFMingStd-W9";
    src: url('../font/DFMingStd-W9.otf');
}

@font-face {
    font-family: "DFMingStd-W5";
    src: url('../font/DFMingStd-W5.otf');
}

@font-face {
    font-family: "DFMingStd-W3";
    src: url('../font/DFMingStd-W3.otf');
}

@font-face {
    font-family: "NotoSansTC-400";
    src: url('../font/NotoSansTC-Regular.ttf');
}

@font-face {
    font-family: "NotoSansTC-300";
    src: url('../font/NotoSansTC-Light.ttf');
}

@import "primeicons/primeicons.css";
@import "primevue/resources/themes/saga-blue/theme.css";
@import "primevue/resources/primevue.min.css";


// html {
//     font-size: 100px;
// }

body {
    font-family: $font-NotoSerif;
    font-size: 14px;
    color: $text-color;
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    color: $text-color;

}

button {
    cursor: pointer;
}

//出刊消息,發行,價錢等等樣式
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__new {
        color: $text-color2;
        font-size: 0.675rem;
    }

    &__month {
        font-size: 1.3rem;
        line-height: 3rem;
        padding-top: 3rem;

        @include max-media(1024) {
            font-size: 1.2rem;
        }

        @include max-media(768) {
            font-size: 1.1rem;
        }
    }

    &__content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        line-height: 1.50375rem;
    }

    &__price {
        line-height: 1.96875rem;
    }

    &__shopcart {
        text-align: center;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        padding: 0.6% 1.1%;
        font-family: $font-Noto;
        letter-spacing: 0.035rem;
        font-size: 0.55rem;
    }
}

// 間距樣式
.wrap {
    padding-left: 8.45%;
    padding-right: 8.45%;
}

// 線的樣式
.line {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.38);
}
.swiper-pagination-bullet {
    background-color: gray !important; /* 非当前分页点的颜色 */
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0) !important; /* 当前分页点的颜色 */
  }