@import "_reset.scss";
@import "_setting.scss";
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400&family=Kanit:wght@300;400&family=Noto+Sans+TC:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Noto+Serif+TC:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
// Swiper styles
@import "swiper/css";
@import "swiper/swiper-bundle.css";

@font-face {
    font-family: "DFMingStd-W9";
    src: url('../font/DFMingStd-W9.otf');
}

@font-face {
    font-family: "DFMingStd-W5";
    src: url('../font/DFMingStd-W5.otf');
}

@font-face {
    font-family: "DFMingStd-W3";
    src: url('../font/DFMingStd-W3.otf');
}

@font-face {
    font-family: "NotoSansTC-400";
    src: url('../font/NotoSansTC-Regular.ttf');
}

@font-face {
    font-family: "NotoSansTC-300";
    src: url('../font/NotoSansTC-Light.ttf');
}

@import "primeicons/primeicons.css";
@import "primevue/resources/themes/saga-blue/theme.css";
@import "primevue/resources/primevue.min.css";


// html {
//     // font-size: 100px;
//     // 反白禁止
//     -webkit-user-select: none;
//     -moz-user-select: none; 
//     -ms-user-select: none; 
//     user-select: none;
// }

body {
    font-family: $font-NotoSerif;
    font-size: 14px;
    color: $text-color;
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    color: $text-color;
}

button {
    cursor: pointer;
}

//出刊消息,發行,價錢等等樣式
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__new {
        color: $text-color2;
        font-size: 0.675rem;
    }

    &__month {
        font-size: 1.3rem;
        padding-top: 3rem;

        @include max-media(1024) {
            font-size: 1.2rem;
        }

        @include max-media(768) {
            font-size: 1.1rem;
        }
    }

    &__content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        line-height: 1.50375rem;
    }

    &__price {
        line-height: 1.96875rem;
    }

    &__shopcart {
        background-color: white;
        text-align: center;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        padding: 0.598rem 1.097rem;
        line-height: 1.6rem;
        font-family: $font-NotoSerif;
        letter-spacing: 0.035rem;
        font-size: 0.55rem;

    }
}

// 間距樣式
.wrap {
    padding-left: 8.45%;
    padding-right: 8.45%;
}

.inner-wrap {
    padding-left: 10.4469%;
    padding-right: 10.4469%;
}

// 線的樣式
.line {
    border-bottom: 1px solid rgba(0, 0, 0);
}

// more+按鈕樣式
.more {
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    width: 5rem;
    font-family: $font-Noto;
    font-size: 0.65rem;
}

// swiper樣式
.swiper-pagination-bullet {
    background-color: gray !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0) !important;

}

.swiperpic {
    margin-bottom: 10%;
    cursor: pointer;
   

    &__icon {
        font-size: 18px;

        @include max-media(768) {
            font-size: 12px;
        }
    }

    &__scrollbar {
        margin-bottom: 6.3%;

        >img {
            background-size: contain;
        }
    }

    --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
    --swiper-scrollbar-sides-offset: 0%;
    --swiper-scrollbar-size: 6px;
}



//   /* RWD漢堡選單進入和離開的動畫效果 */
.menu-expand-enter-active {
    transition: all 0.5s ease;
}

.menu-expand-enter-from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

/* 離開動畫 */
.menu-expand-leave-active {
    transition: all 0.5s ease;
}

.menu-expand-leave-to {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

// project頁面文字設定
.project {
    &__text {
        color: #000000cc;

        &__one {
            font-family: $font-Noto;
            font-size: 0.75rem;
            // height: 2rem;
            text-align: left;
        }

        &__two {
            font-size: 1rem;
        }

        &__three {
            font-size: 1rem;
            color: black;
        }
    }
}

// tag按鈕標籤樣式
.tag-button {
    margin-right: 1.125rem;

    @include max-media(768) {
        margin-right: 0
    }


    &:last-child {
        margin-right: 0;
    }
}

.tags-container {
    display: flex;
    flex-wrap: wrap;

    @include max-media(1024) {
        justify-content: start;

        @include max-media(500) {
            justify-content: space-around;
        }

        @include max-media(396) {
            justify-content: start;
        }
    }

    .tag-button {
        margin-top: 3.35%;
        margin-bottom: 3.698%;
        font-size: 0.6875rem;

        @include max-media(769) {
            display: flex;
            font-size: 0.5rem;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}

// 按鈕樣式
.button {
    line-height: 107%;
    color: $text-color3;
    background-color: white;
    border-radius: 46px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    font-family: $font-NotoSerif;
    letter-spacing: 0.561px;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
}

//   Filter menu樣式(story opinion頁面)
.filter {
    &__relative {
        position: relative;
    }

    &__menu {
        position: absolute;
        width: 100%;
        right: 8.45%;
        display: flex;
        justify-content: flex-end;


        @include max-media(768) {
            width: 70%;
            right: 0;
            top: 30%;
            justify-content: flex-start;
        }
    }
}

// 手機版廣告 pagination
.pagination-advertise {
    display: none;

    @include max-media(768) {
        display: block;
    }
}

// 內頁標題文字樣式
.title--text {
    &__one {
        color: $text-color2;
        //   font-size: 0.875rem;
        font-size: 0.75rem;
        font-family: $font-Noto;
    }

    &__two {
        margin-top: 2.428%;
        margin-bottom: 4.101%;
        line-height: 32.64px;
        // font-size: 1rem;
        font-size: 1.3125rem;
        letter-spacing: 0.51px;

        @include max-media(768) {
            font-size: 0.875rem;
        }
    }

    &__three {
        color: #000000cc;
        //   font-size: 0.75rem;
        font-size: 0.875rem;
        color: $text-color3;
        text-decoration: underline;
        font-family: $font-Noto;
        margin-bottom: 5.105%;
    }
}